.vscode/
bin
*.bin
guia2/*.zip
guia2/*.png
*.sublime-project
*.sublime-workspace
*.psc
*.out
*.json
ayuda.c
ayuda.h
pruebaLectura.c
pruebaEscritura.c
ventanaBaseSDL2.c
/Progra2/A/nbproject/private/
/Progra2/A/build/
/Progra2/B/nbproject/private/
/Progra2/B/build/
/Progra2/C/nbproject/private/
/Progra2/C/build/
/Progra2/D/nbproject/private/
/Progra2/D/build/
/Progra2/E/nbproject/private/
/Progra2/E/build/
/Progra2/F/nbproject/private/
/Progra2/F/build/
/Progra2/DemostracionesClases/nbproject/private/
/Progra2/DemostracionesClases/build/
/Progra2/Miproyecto/nbproject/private/
/Progra2/Miproyecto/build/
/Progra2/Ej8/nbproject/private/
/Progra2/Ej8/build/
/Progra2/EJ9/nbproject/private/
/Progra2/EJ9/build/
/Progra2/Ej10/nbproject/private/
/Progra2/Ej10/build/
/Progra2/Ej11/nbproject/private/
/Progra2/Ej11/build/
/Progra2/Ej12/nbproject/private/
/Progra2/Ej12/build/